<h1> {{title}} </h1>
<div>
    <div>
        <form>
            <label for="newtask">Task Name:</label>

            <input placeholder="Enter the new Task" name= "tasker" id="newtask" [(ngModel)]="tasker"> &nbsp; &nbsp;

            <label for="new-time">Time:</label>

            <input type="datetime-local" placeholder="Enter the Time" name="time" id="newtime" [(ngModel)]="now">

        </form>
    </div>
    <br>
    <br>
    <button type="button" (click)="add()">Add new Task</button>
    <br>
    <br>
    <div *ngFor='let task of taskService.tasks'>
            <div *ngIf="task.completed===false; else completed">
                <input type="text" name="tasks" id="update-name-{{task.id}}" value="{{task.name}}" #newtask>
                &nbsp;
                <input type="datetime-local " name="tasks" id="update-time-{{task.id}}" value="{{task.time}}">
                &nbsp;
                <input type="checkbox" (change)="complete(task.id)" id="idcheck-{{task.id}}">
                <label for="idcheck-{{task.id}}" id="idlabel-{{task.id}}">Not Completed</label>
                &nbsp;
                <button type="button" (click)="update(task.id)">Update</button>

            </div>
            <ng-template #completed>
                <input type="text" name="tasks" id="update-name-{{task.id}}" value="{{task.name}}" #newtask disabled>
                &nbsp;
                <input type="datetime-local " name="tasks" id="update-time-{{task.id}}" value="{{task.time}}" disabled>
                &nbsp;
                <input type="checkbox" (change)="complete(task.id)" id="idcheck-{{task.id}}" disabled>
                <label for="idcheck-{{task.id}}" id="idlabel-{{task.id}}">Completed</label>
                &nbsp;
                <button type="button" (click)="update(task.id)" disabled>Update</button>
            </ng-template>
  
    </div>
</div>